<div id="editLocalizacao" class="page-content clearfix" ng-controller="LocalizacaoController">
	<div class="bar-buttons-action fixed">
		<div class="row">
			<div class="col-sm-8 text-left">
				<button title="{{$translate.instant('LABEL.SALVAR')}}" alt="{{$translate.instant('LABEL.SALVAR')}}" class="btn btn-clear" ng-click="saveOrUpdate()" ng-show="edit">
					<i class="fa fa-save green"></i> <translate>LABEL.SALVAR</translate>
				</button>

				<button title="{{$translate.instant('LABEL.LIMPAR')}}" alt="{{$translate.instant('LABEL.LIMPAR')}}" class="btn btn-clear" ng-click="resetForm();" ng-show="localizacao.id === undefined">
					<i class="fa fa-eraser yellow-dark"></i> <translate>LABEL.LIMPAR</translate>
				</button>

				<button title="{{$translate.instant('LABEL.EDITAR')}}" alt="{{$translate.instant('LABEL.EDITAR')}}" class="btn btn-clear" ng-show="!(pgEdit || edit)" ng-click="edit = true; pgEdit = true;">
					<i class="fa fa-pencil blue"></i>
					<translate>LABEL.EDITAR</translate>
				</button>

				<button title="{{$translate.instant('LABEL.REMOVER')}}" alt="{{$translate.instant('LABEL.REMOVER')}}" class="btn btn-clear" ng-click="remove(localizacao);" ng-show="localizacao.id !== undefined">
					<i class="fa fa-times red"></i> <translate>LABEL.REMOVER</translate>
				</button>
				
				<bloquear-desbloquear ng-model="localizacao" ng-repository="LocalizacaoRepository" ng-edit="edit"></bloquear-desbloquear>

				<button title="{{$translate.instant('LABEL.PESQUISAR')}}" alt="{{$translate.instant('LABEL.PESQUISAR')}}" class="btn btn-clear" ng-click="$showPageSearchWorkspace(workspace); atualizaPaginaPesquisa();">
					<i class="fa fa-search"></i> <translate>LABEL.PESQUISAR</translate>
				</button>
			</div><!-- .col -->

			<div class="col-sm-4 text-right">
				<favorito/>

				<help-button workspace="workspace" />
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .bar-buttons-action -->

	<breadcrumb ng-workspace="workspace"></breadcrumb>

	<form name="localizacaoForm" novalidate autocomplete="off">
		<p>
			<small>( <span class="red">*</span> ) <translate>LABEL.CAMPOS_OBRIGATORIOS</translate></small>
		</p>

		<fieldset>
			<legend><translate>LABEL.DADOS_LOCALIZACAO</translate></legend>

	        <div class="row">
				<div class="col-sm-4">
					<label-input ng-type="text" ng-id="organizacao.nome" ng-label="LABEL.ORGANIZACAO" ng-obrigatorio="false" ng-disabled="true" ng-model="organizacao.nome" ng-custom-maxlength="100" form="localizacaoForm"/>
				</div><!-- .col-sm-4 -->
                 <div class="col-md-2">
					<label-input ng-type="text" ng-id="localizacao.codigo" ng-label="LABEL.CODIGO" ng-disabled="true" ng-model="localizacao.codigo" ng-custom-maxlength="30" form="localizacaoForm"/>
                </div><!-- .col-sm-2 -->
                <div class="col-md-6">
					<label-input ng-type="text" ng-id="localizacao.nome" ng-label="LABEL.NOME" ng-obrigatorio="true" ng-disabled="!edit" ng-model="localizacao.nome" ng-custom-maxlength="100" form="localizacaoForm"/>
                 </div><!-- .col-sm-6 -->
			</div><!-- row -->

			<componente-endereco-unico novo="false" ng-edit="edit" form="localizacaoForm" ng-endereco="localizacao.endereco"></componente-endereco-unico>

		</fieldset>
	</form>
</div><!-- .page-content -->