<div id="breadcrumbs" class="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
		</li>
		<li class="active">
			Template padrão <favorito />
		</li>
	</ul>
</div><!-- #breadcrumbs -->

<div class="page-content">
	<h1>
		Template padrão
	</h1>
	
	<div class="tabbable">
		<ul class="nav nav-tabs tab-color-blue">
			<li class="active">
				<a href="#search2" data-toggle="tab" aria-expanded="true">
					<i class="ace-icon fa fa-search bigger-120"></i>
					Pesquisar
				</a>
			</li>
			
			<li>
				<a href="#edit2" data-toggle="tab" aria-expanded="true">
					<i class="ace-icon fa fa-edit bigger-120"></i>
					Cadastrar
				</a>
			</li>
		</ul><!-- .nav -->
		
		<div class="tab-content">
			<div class="tab-pane fade active in" id="search2">
				<div class="table-container">
					<div class="table-header">
						<div class='row'>
							<div class='col-sm-6'>
								Mostrando 1 até 10 de (3) Contratos. 
							</div>
							<div class='col-sm-6 align-right'>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default dropdown-toggle btn-primary btn-white" data-toggle="dropdown" aria-expanded="false">
										<i class="ace-icon fa fa-file"></i> Exportar <span class="ace-icon fa fa-caret-down icon-on-right"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="#void"><i class="ace-icon fa fa-file-o"></i> Excel</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-file-o"></i> CSV</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-file-o"></i> XML</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-file-o"></i> JSON</a>
										</li>
									</ul>
								</div><!-- .btn-group -->
								&nbsp;
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default dropdown-toggle btn-primary btn-white" data-toggle="dropdown" aria-expanded="false">
										<i class="ace-icon fa fa-filter"></i> Filtros <span class="ace-icon fa fa-caret-down icon-on-right"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="#void"><i class="ace-icon fa fa-filter"></i> Filtro 1</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-filter"></i> Filtro 2</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-filter"></i> Filtro 3</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#add-filter-modal-2" data-toggle="modal"><i class="ace-icon fa fa-plus-circle"></i> Salvar novo</a>
										</li>
									</ul>
									
									<div tabindex="-1" class="modal in" id="add-filter-modal-2" aria-hidden="false">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button data-dismiss="modal" class="close" type="button">&times;</button>
													<h4 class="blue bigger">Adicionar filtro</h4>
												</div><!-- .modal-header -->
												
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<div class="form-group">
																<input type="text" class="form-control" placeholder="Informe o nome do filtro" />
																<p class="help-block small red">*Nome é um campo obrigatório</p>
															</div><!-- .form-group -->
														</div><!-- .col -->
													</div><!-- .row -->
												</div><!-- .modal-body -->
												
												<div class="modal-footer">
													<button data-dismiss="modal" class="btn btn-sm">
														<i class="ace-icon fa fa-times"></i>
														Cancelar
													</button>
			
													<button class="btn btn-sm btn-primary">
														<i class="ace-icon fa fa-save"></i>
														Salvar
													</button>
												</div><!-- .modal-footer -->
											</div><!-- .modal-content -->
										</div><!-- .modal-dialog -->
									</div><!-- .modal -->
								</div><!-- .btn-group -->
								&nbsp;
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default dropdown-toggle btn-primary btn-white" data-toggle="dropdown" aria-expanded="false">
										<i class="ace-icon fa fa-eye"></i> Mostrar <span class="ace-icon fa fa-caret-down icon-on-right"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 1</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 10</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 20</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 30</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 40</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 50</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 100</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 200</a>
										</li>
										<li>
											<a href="#void"><i class="ace-icon fa fa-angle-right"></i> 500</a>
										</li>
									</ul>
								</div><!-- .btn-group -->
								&nbsp;&nbsp;
								<a style="color: white;" href="" ng-click="filterResult()"><i class="fa fa-refresh"></i></a>
							</div><!-- .col -->
						</div><!-- .row -->
					</div><!-- .table-header -->
					
					<div class="table-responsive">
						<table id="sample-table-2" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th style="width: 40%;">
										Nome
									</th>
									<th style="width: 20%;">
										Tipo
									</th>
									<th style="width: 25%;">
										Data
									</th>
									<th class="text-center" style="width: 15%;">
										Ações
									</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="4" class="text-center">
										<ul class="pagination">
											<li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
											<li><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
										</ul>
									</td>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td>
										<div class="row">
											<div class="col-sm-12">
												<input class="col-sm-12 form-control" on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.filters[0].value" type="text" />
											</div><!-- .col -->
										</div><!-- .row -->
									</td>
									<td>
										<div class="row">
											<div class="col-sm-12">
												<select class="col-sm-12 form-control" on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.filters[1].value">
													<option value="Opção 1">Opção 1</option>
													<option value="Opção 2">Opção 2</option>
													<option value="Opção 3">Opção 3</option>
												</select>
											</div><!-- .col -->
										</div><!-- .row -->
									</td>
									<td>
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="col-sm-6 form-control date-picker input-mask-date" on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.filters[3].value" placeholder="Data inicio" />
													<span class="input-group-addon">
														<i class="fa fa-calendar bigger-110"></i>
													</span>
												</div><!-- .input-group -->
											</div><!-- .col -->
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="col-sm-6 form-control date-picker input-mask-date" on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.filters[4].value" placeholder="Data fim" />
													<span class="input-group-addon">
														<i class="fa fa-calendar bigger-110"></i>
													</span>
												</div><!-- .input-group -->
											</div><!-- .col -->
										</div><!-- .row -->
									</td>
									<td></td>
								</tr>
								<tr>
									<td>Item 1</td>
									<td>Tipo 1</td>
									<td>20/10/2014</td>
									<td class="text-center">
				   						<div class="btn-group">
				   							<a class="btn btn-sm btn-primary" title="Visualizar"><i class="fa fa-search"></i></a>
				   							<a class="btn btn-sm btn-success" title="Editar"><i class="fa fa-edit"></i></a>
											<a class="btn btn-sm btn-danger" title="Excluir"><i class="fa fa-trash-o"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>Item 2</td>
									<td>Tipo 1</td>
									<td>20/10/2014</td>
									<td class="text-center">
				   						<div class="btn-group">
				   							<a class="btn btn-sm btn-primary" title="Visualizar"><i class="fa fa-search"></i></a>
				   							<a class="btn btn-sm btn-success" title="Editar"><i class="fa fa-edit"></i></a>
											<a class="btn btn-sm btn-danger" title="Excluir"><i class="fa fa-trash-o"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>Item 3</td>
									<td>Tipo 1</td>
									<td>20/10/2014</td>
									<td class="text-center">
				   						<div class="btn-group">
				   							<a class="btn btn-sm btn-primary" title="Visualizar"><i class="fa fa-search"></i></a>
				   							<a class="btn btn-sm btn-success" title="Editar"><i class="fa fa-edit"></i></a>
											<a class="btn btn-sm btn-danger" title="Excluir"><i class="fa fa-trash-o"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!-- .table-container -->
			</div><!-- #search -->

			<div class="tab-pane fade" id="edit2">
				<div class="alert-fixed alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<strong>Alerta!</strong> Coloque o texto aqui
				</div>
				
				<form>
					<div class="widget-box">
						<div class="widget-header">
							<h2 class="widget-title">Widget 1</h2>
							
							<div class="widget-toolbar">
								<a href="#void" data-action="collapse">
									<i class="ace-icon fa fa-chevron-up"></i>
								</a>
							</div><!-- .widget-toolbar -->
						</div><!-- .widget-header -->
						
						<div class="widget-body">
							<div class="widget-main clearfix">
								<p>
									<small>( <span class="red">*</span> ) Campos obrigatórios</small>
								</p>
								
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label for="input-text-one-1" class="control-label">Input text one 1<span class="red">*</span></label>
											<input type="text" class="form-control" id="input-text-one-1" placeholder="Enter input text one 1" />
											<p class="help-block small red">*Input text one 1 is required</p>
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group has-feedback">
											<label for="input-text-one-2" class="control-label">Input text one 2<span class="red">*</span></label>
											<input type="text" class="form-control" id="input-text-one-2" placeholder="Enter input text one 2" />
											<span class="glyphicon glyphicon-search form-control-feedback"></span>
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="input-text-one-3" class="control-label">Input text one 3<span class="red">*</span></label>
											<input type="text" class="form-control" id="input-text-one-3" placeholder="Enter input text one 3" />
											<p class="help-block small red">*Input text one 3 is required</p>
										</div><!-- .form-group -->
									</div><!-- .col -->
									
									<div class="col-sm-6">
										<div class="form-group form-group-input-file">
											<label for="input-text-two-1" class="control-label">Input file two 1<span class="red">*</span></label>
											<input type="file" id="input-file-two-1" class="file-input" />
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label for="select-one-1" class="control-label">Select one 1</label>
											<select class="form-control" id="select-one-1">
												<option>Option one</option>
												<option>Option two</option>
												<option>Option three</option>
											</select>
										</div><!-- .form-group -->
									</div><!-- .col -->
									
									<div class="col-sm-4">
										<div class="form-group">
											<label for="input-text-two-2">Input text two 2</label>
											<div class="input-group">
												<div class="input-group-addon"><i class="ace-icon fa fa-user"></i></div>
												<input type="text" class="form-control" id="input-text-three-1" placeholder="Enter input text three 1" />
											</div>
										</div><!-- .form-group -->
									</div><!-- .col -->
									
									<div class="col-sm-4">
										<div class="form-group">
											<label for="input-text-three-1" class="control-label">Input text three 1<span class="red">*</span></label>
											<div class="input-group">
												<input type="text" class="form-control" id="input-text-three-1" placeholder="Enter input text three 1" />
												<div class="input-group-addon">@</div>
											</div>
											<p class="help-block small red">*Input text one 3 is required</p>
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="disabled-text-one-1" class="control-label">Disabled text one 1</label>
											<input type="text" class="form-control" id="disabled-text-one-1" placeholder="Disabled text one" disabled="disabled" />
										</div><!-- .form-group -->
									</div><!-- .col -->
									
									<div class="col-sm-6">
										<div class="form-group">
											<label for="readonly-text-one-1" class="control-label">Readonly text one 1</label>
											<input type="text" class="form-control" id="readonly-text-one-1" placeholder="Readonly text one" readonly="readonly" />
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group has-feedback">
											<label for="input-text-one-4" class="control-label">Input text one 4 <a class="green" href="#add-new-modal-3" data-toggle="modal" role="button"><i class="ace-icon fa fa-plus-circle"></i></a></label>
											<input type="text" class="form-control" id="input-text-one-4" placeholder="Enter input text one 4" />
											<span class="glyphicon glyphicon-search form-control-feedback"></span>
										</div><!-- .form-group -->
										
										<div tabindex="-1" class="modal in" id="add-new-modal-3" aria-hidden="false">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button data-dismiss="modal" class="close" type="button">&times;</button>
														<h4 class="blue bigger">Adicionar novo</h4>
													</div><!-- .modal-header -->
													
													<div class="modal-body">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group">
																	<input type="text" class="form-control" placeholder="Informe o nome" />
																	<p class="help-block small red">*Nome é um campo obrigatório</p>
																</div><!-- .form-group -->
															</div><!-- .col -->
														</div><!-- .row -->
													</div><!-- .modal-body -->
													
													<div class="modal-footer">
														<button data-dismiss="modal" class="btn btn-sm">
															<i class="ace-icon fa fa-times"></i>
															Cancelar
														</button>
				
														<button class="btn btn-sm btn-primary">
															<i class="ace-icon fa fa-save"></i>
															Salvar
														</button>
													</div><!-- .modal-footer -->
												</div><!-- .modal-content -->
											</div><!-- .modal-dialog -->
										</div><!-- .modal -->
									</div><!-- .col -->
									
									<div class="col-sm-4">
										<div class="form-group">
											<label for="input-text-two-3" class="control-label">Input text two 3<span class="red">*</span> <a class="green" href="#add-new-modal-4" data-toggle="modal" role="button"><i class="ace-icon fa fa-plus-circle"></i></a></label>
											<input type="text" class="form-control" id="input-text-two-3" placeholder="Enter input text two 3" />
										</div><!-- .form-group -->
										
										<div tabindex="-1" class="modal in" id="add-new-modal-4" aria-hidden="false">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button data-dismiss="modal" class="close" type="button">&times;</button>
														<h4 class="blue bigger">Adicionar novo</h4>
													</div><!-- .modal-header -->
													
													<div class="modal-body">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group">
																	<input type="text" class="form-control" placeholder="Informe o nome" />
																	<p class="help-block small red">*Nome é um campo obrigatório</p>
																</div><!-- .form-group -->
															</div><!-- .col -->
														</div><!-- .row -->
													</div><!-- .modal-body -->
													
													<div class="modal-footer">
														<button data-dismiss="modal" class="btn btn-sm">
															<i class="ace-icon fa fa-times"></i>
															Cancelar
														</button>
				
														<button class="btn btn-sm btn-primary">
															<i class="ace-icon fa fa-save"></i>
															Salvar
														</button>
													</div><!-- .modal-footer -->
												</div><!-- .modal-content -->
											</div><!-- .modal-dialog -->
										</div><!-- .modal -->
									</div><!-- .col -->
									
									<div class="col-sm-4">
										<div class="form-group">
											<label for="input-password-one-1" class="control-label">Input password one 1</label>
											<input type="text" class="form-control" id="input-password-one-1" placeholder="Enter input three" />
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="input-password-two-1" class="control-label">Input password two 1</label>
											<input type="password" class="form-control" id="input-password-two-1" placeholder="Enter input two" />
										</div><!-- .form-group -->
									</div><!-- .col -->
									
									<div class="col-sm-6">
										<div class="form-group has-feedback">
											<label for="input-text-one-5" class="control-label">Input text one 5</label>
											<input type="password" class="form-control" id="input-text-one-5" placeholder="Enter input text one 5" />
											<span class="glyphicon glyphicon  glyphicon glyphicon-lock form-control-feedback"></span>
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="input-text-inline-one-1" class="control-label block">Input text inline one 1</label>
											<input type="text" class="form-control inline" id="input-text-inline-one-1" placeholder="Enter input text inline one 1" />
											
											<div class="checkbox-inline inline">
												<label>
													<input type="checkbox" name="checkbox-inline-one-1" /> Checkbox inline one 1
												</label>
											</div><!-- .checkbox -->
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label for="multiple-select-one-1" class="control-label">Multiple Select one 1</label>
											<select multiple="multiple" class="form-control" id="multiple-select-one-1">
												<option>Option one</option>
												<option>Option two</option>
												<option>Option three</option>
												<option>Option four</option>
												<option>Option five</option>
											</select>
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label for="textarea-one-1" class="control-label">Textarea one 1</label>
											<textarea class="form-control" id="textarea-one-1" rows="3"></textarea>
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="checkbox">
											<label>
												<input type="checkbox" /> Checkbox one
											</label>
										</div><!-- .checkbox -->
										
										<div class="checkbox">
											<label>
												<input type="checkbox" /> Checkbox two
											</label>
										</div><!-- .checkbox -->
										
										<div class="checkbox">
											<label>
												<input type="checkbox" /> Checkbox three
											</label>
										</div><!-- .checkbox -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="checkbox-inline">
											<label>
												<input type="checkbox" /> Checkbox one
											</label>
										</div><!-- .checkbox-inline -->
										
										<div class="checkbox-inline">
											<label>
												<input type="checkbox" /> Checkbox two
											</label>
										</div><!-- .checkbox-inline -->
										
										<div class="checkbox-inline">
											<label>
												<input type="checkbox" /> Checkbox three
											</label>
										</div><!-- .checkbox-inline -->
										
										<div class="checkbox-inline">
											<label>
												<input type="checkbox" /> Checkbox four
											</label>
										</div><!-- .checkbox-inline -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="radio">
											<label>
												<input type="radio" name="radio-group-block" /> Radio one
											</label>
										</div><!-- .radio -->
										
										<div class="radio">
											<label>
												<input type="radio" name="radio-group-block" /> Radio two
											</label>
										</div><!-- .radio -->
										
										<div class="radio">
											<label>
												<input type="radio" name="radio-group-block" /> Radio three
											</label>
										</div><!-- .radio -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="radio-inline">
											<label>
												<input type="radio" name="radio-group-inline" /> Radio one
											</label>
										</div><!-- .radio-inline -->
										
										<div class="radio-inline">
											<label>
												<input type="radio" name="radio-group-inline" /> Radio two
											</label>
										</div><!-- .radio-inline -->
										
										<div class="radio-inline">
											<label>
												<input type="radio" name="radio-group-inline" /> Radio three
											</label>
										</div><!-- .radio-inline -->
										
										<div class="radio-inline">
											<label>
												<input type="radio" name="radio-group-inline" /> Radio four
											</label>
										</div><!-- .radio-inline -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<label>
											<input type="checkbox" class="ace ace-switch ace-switch-6" name="switch-field-1" />
											<span class="lbl"></span>
										</label>
										
										<label>
											<input type="checkbox" class="ace ace-switch ace-switch-5 btn-rotate" name="switch-field-1" />
											<span class="lbl" data-lbl="SIM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NÃO"></span>
										</label>
										
										<label>
											<input type="checkbox" class="ace ace-switch ace-switch-5 btn-rotate" name="switch-field-1" />
											<span class="lbl" data-lbl="ATIV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DES"></span>
										</label>
										
										<br />
										
										<label>
											<input type="checkbox" checked="checked" class="ace ace-switch ace-switch-6" name="switch-field-1" />
											<span class="lbl"></span>
										</label>
										
										<label>
											<input type="checkbox" checked="checked" class="ace ace-switch ace-switch-5 btn-rotate" name="switch-field-1" />
											<span class="lbl" data-lbl="SIM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NÃO"></span>
										</label>
										
										<label>
											<input type="checkbox" checked="checked" class="ace ace-switch ace-switch-5 btn-rotate" name="switch-field-1" />
											<span class="lbl" data-lbl="ATIV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DES"></span>
										</label>
										
										<br />
										
										<label>
											<input type="checkbox" checked="checked" class="ace ace-switch ace-switch-6" name="switch-field-1" />
											<span class="lbl"></span> <span class="lbl-text">Label</span>
										</label>
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="text-center">
														#
													</th>
													<th>
														Column one
													</th>
													<th>
														Column two
													</th>
													<th>
														Column three
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">
														#
													</td>
													<td>
														Example 1
													</td>
													<td>
														Example 1
													</td>
													<td>
														Example 1
													</td>
												</tr>
												<tr>
													<td class="text-center">
														#
													</td>
													<td>
														Example 2
													</td>
													<td>
														Example 2
													</td>
													<td>
														Example 2
													</td>
												</tr>
												<tr>
													<td class="text-center">
														#
													</td>
													<td>
														Example 3
													</td>
													<td>
														Example 3
													</td>
													<td>
														Example 3
													</td>
												</tr>
											</tbody>
										</table>
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="text-center">
														<input type="checkbox" />
													</th>
													<th>
														Column one
													</th>
													<th>
														Column two
													</th>
													<th>
														Column three
													</th>
													<th class="text-center">
														Actions
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">
														<input type="checkbox" />
													</td>
													<td>
														Example 1
													</td>
													<td>
														Example 1
													</td>
													<td>
														Example 1
													</td>
													<td class="text-center">
														<div class="btn-group">
															<a class="btn btn-sm btn-success" href="#void">
																<i class="fa fa-edit"></i>
															</a>
															<a class="btn btn-sm btn-danger" href="#void">
																<i class="fa fa-trash-o"></i>
															</a>
														</div><!-- .btn-group -->
													</td>
												</tr>
												<tr>
													<td class="text-center">
														<input type="checkbox" />
													</td>
													<td>
														Example 2
													</td>
													<td>
														Example 2
													</td>
													<td>
														Example 2
													</td>
													<td class="text-center">
														<div class="btn-group">
															<a class="btn btn-sm btn-success" href="#void">
																<i class="fa fa-edit"></i>
															</a>
															<a class="btn btn-sm btn-danger" href="#void">
																<i class="fa fa-trash-o"></i>
															</a>
														</div><!-- .btn-group -->
													</td>
												</tr>
												<tr>
													<td class="text-center">
														<input type="checkbox" />
													</td>
													<td>
														Example 3
													</td>
													<td>
														Example 3
													</td>
													<td>
														Example 3
													</td>
													<td class="text-center">
														<div class="btn-group">
															<a class="btn btn-sm btn-success" href="#void">
																<i class="fa fa-edit"></i>
															</a>
															<a class="btn btn-sm btn-danger" href="#void">
																<i class="fa fa-trash-o"></i>
															</a>
														</div><!-- .btn-group -->
													</td>
												</tr>
											</tbody>
										</table>
									</div><!-- .col -->
								</div><!-- .row -->
							</div><!-- .widget-main -->
						</div><!-- .widget-body -->
					</div><!-- .widget-box -->
						
					<hr />
					
					<div class="widget-box">
						<div class="widget-header">
							<h2 class="widget-title">Widget 2</h2>
								
							<div class="widget-toolbar">
								<a href="#void" data-action="collapse">
									<i class="ace-icon fa fa-chevron-up"></i>
								</a>
							</div><!-- .widget-toolbar -->
						</div>
						
						<div class="widget-body">
							<div class="widget-main clearfix">
								<p>
									<small>( <span class="red">*</span> ) Campos obrigatórios</small>
								</p>
								
								<div class="row"> 
									<div class="col-sm-12">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="text-center" style="width: 10%;">
														#
													</th>
													<th style="width: 40%;">
														Column one
													</th>
													<th style="width: 35%;">
														Column two
													</th>
													<th class="text-center" style="width: 15%;">
														Ações
													</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<td colspan="4" class="text-right">
														<a href="#void"><i class="ace-icon fa fa-plus-circle"></i> Adiciona linha</a>
													</td>
												</tr>
											</tfoot>
											<tbody>
												<tr>
													<td class="text-center">
														#
													</td>
													<td>
														<span ng-show="!row1.$edit">{{exampleName1}}</span>
														<div ng-show="row1.$edit"><input class="form-control" type="text" ng-model="exampleName1" /></div>
													</td>
													<td>
														<span ng-show="!row1.$edit">{{exampleDescription1}}</span>
														<div ng-show="row1.$edit"><input class="form-control" type="text" ng-model="exampleDescription1" /></div>
													</td>
													<td class="text-center">
														<div class="btn-group">
															<a class="btn btn-sm btn-success" href="#void" ng-show="!row1.$edit" ng-click="row1.$edit=true">
																<i class="fa fa-edit"></i>
															</a>
															<a class="btn btn-sm btn-danger" href="#void" ng-show="!row1.$edit">
																<i class="fa fa-trash-o"></i>
															</a>
															<a class="btn btn-sm btn-success" href="#void" ng-show="row1.$edit" ng-click="row1.$edit=false">
																<i class="fa fa-save"></i>
															</a>
														</div><!-- .btn-group -->
													</td>
												</tr>
												<tr>
													<td class="text-center">
														#
													</td>
													<td>
														<span ng-show="!row2.$edit">{{exampleName2}}</span>
														<div ng-show="row2.$edit"><input class="form-control" type="text" ng-model="exampleName2" /></div>
													</td>
													<td>
														<span ng-show="!row2.$edit">{{exampleDescription2}}</span>
														<div ng-show="row2.$edit"><input class="form-control" type="text" ng-model="exampleDescription2" /></div>
													</td>
													<td class="text-center">
														<div class="btn-group">
															<a class="btn btn-sm btn-success" href="#void" ng-show="!row2.$edit" ng-click="row2.$edit=true">
																<i class="fa fa-edit"></i>
															</a>
															<a class="btn btn-sm btn-danger" href="#void" ng-show="!row2.$edit">
																<i class="fa fa-trash-o"></i>
															</a>
															<a class="btn btn-sm btn-success" href="#void" ng-show="row2.$edit" ng-click="row2.$edit=false">
																<i class="fa fa-save"></i>
															</a>
														</div><!-- .btn-group -->
													</td>
												</tr>
												<tr>
													<td class="text-center">
														#
													</td>
													<td>
														<span ng-show="!row3.$edit">{{exampleName3}}</span>
														<div ng-show="row3.$edit"><input class="form-control" type="text" ng-model="exampleName3" /></div>
													</td>
													<td>
														<span ng-show="!row3.$edit">{{exampleDescription3}}</span>
														<div ng-show="row3.$edit">
															<select class="form-control" ng-model="exampleDescription3">
																<option value="Opção 1">Opção 1</option>
																<option value="Opção 2">Opção 2</option>
																<option value="Opção 3">Opção 3</option>
															</select>
														</div>
													</td>
													<td class="text-center">
														<div class="btn-group">
															<a class="btn btn-sm btn-success" href="#void" ng-show="!row3.$edit" ng-click="row3.$edit=true">
																<i class="fa fa-edit"></i>
															</a>
															<a class="btn btn-sm btn-danger" href="#void" ng-show="!row3.$edit">
																<i class="fa fa-trash-o"></i>
															</a>
															<a class="btn btn-sm btn-success" href="#void" ng-show="row3.$edit" ng-click="row3.$edit=false">
																<i class="fa fa-save"></i>
															</a>
														</div><!-- .btn-group -->
													</td>
												</tr>
											</tbody>
										</table>
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="date-picker-input-one-1" class="control-label">Date picker input one 1</label>
											<div class="input-group">
												<input class="form-control date-picker input-mask-date" id="date-picker-input-one-1" type="text" data-date-format="dd/mm/yyyy" />
												<span class="input-group-addon">
													<i class="fa fa-calendar bigger-110"></i>
												</span>
											</div>
										</div><!-- .form-group -->
									</div><!-- .col -->
									
									<div class="col-sm-6">
										<div class="form-group">
											<label for="date-picker-input-one-1" class="control-label">Date picker input one 1</label>
											<input class="form-control date-picker input-mask-date" id="date-picker-input-one-1" type="text" data-date-format="dd/mm/yyyy" />
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="chosen-select-multiple-one-1" class="control-label">Chosen select multiple one 1</label>
											
											<select multiple="multiple" class="chosen-select form-control" id="input-text-two-2" data-placeholder="Escolha uma opção..." data-no_results_text="Não há resultados para: ">
												<option value="AL">Alabama</option>
												<option value="AK">Alaska</option>
												<option value="AZ">Arizona</option>
												<option value="AR">Arkansas</option>
											</select>
										</div><!-- .form-group  -->
									</div><!-- .col -->
									
									<div class="col-sm-6">
										<div class="form-group">
											<label for="chosen-select-multiple-one-1" class="control-label">Chosen select one 1</label>
											
											<select class="chosen-select form-control" id="input-text-two-2" data-placeholder="Escolha uma opção..." data-no_results_text="Não resultados para: ">
												<option value="AL">Alabama</option>
												<option value="AK">Alaska</option>
												<option value="AZ">Arizona</option>
												<option value="AR">Arkansas</option>
											</select>
										</div><!-- .form-group  -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label for="spinner-input-one-1" class="control-label">Spinner input one 1</label>
											<div class="control-control">
												<input type="text" class="input-mini spinner-input" id="spinner-input-one-1" />
											</div><!-- .control-control -->
										</div><!-- .form-group -->
									</div><!-- .col -->
								</div><!-- .row -->
								
								<div class="row">
									<div class="col-sm-12">
										<div class="widget-box">
											<div class="widget-header">
												<h3 class="widget-title">File input one 1</h3>
												
												<div class="widget-toolbar">
													<a href="#void" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>
												</div><!-- .widget-toolbar -->
											</div><!-- .widget-header -->
											
											<div class="widget-body">
												<div class="widget-main clearfix">
													<div class="form-group form-group-input-file">
														<div class="col-xs-12">
															<input type="file" id="input-file-one-1" class="file-input" />
														</div><!-- .col -->
													</div><!-- .form-group -->
													
													<div class="form-group clearfix">
														<div class="col-xs-12">
															<input multiple="" type="file" id="input-file-one-2" class="file-input-multiple" />
														</div><!-- .col -->
													</div><!-- .form-group -->
												</div><!-- .widget-main -->
											</div><!-- .widget-body -->
										</div><!-- .widget-box -->
									</div><!-- .col -->
								</div><!-- .row -->
							</div><!-- .widget-main -->
						</div><!-- .widget-body -->
					</div><!-- .widget-box -->
					<hr />
					
					<div class="row text-right">
						<div class="col-sm-12">
							<button class="btn btn-success wide-xs">
								<i class="ace-icon fa fa-save"></i> Salvar
							</button>
							
							<button class="btn wide-xs">
								<i class="ace-icon fa fa-refresh"></i> Restaurar
							</button>
							
							<button class="btn btn-info wide-xs">
								<i class="ace-icon fa fa-eraser"></i> Limpar
							</button>
							
							<button class="btn btn-danger wide-xs">
								<i class="ace-icon fa fa-trash-o"></i> Excluir
							</button>
							
							<button class="btn btn-warning wide-xs">
								<i class="ace-icon fa fa-times"></i> Fechar
							</button>
						</div><!-- .col -->
					</div><!-- .row -->
				</form>
			</div><!-- #edit -->
		</div><!-- .tab-content -->
	</div><!-- .tabbable -->
</div><!-- .page-content -->

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('.file-input').ace_file_input({
			no_file:'Nenhum arquivo selecionado...',
			btn_choose:'Selecione',
			btn_change:'Trocar',
			droppable:false,
			onchange:null,
			thumbnail:false //| true | large
			//whitelist:'gif|png|jpg|jpeg'
			//blacklist:'exe|php'
			//onchange:''
		});
		
		$('.file-input-multiple').ace_file_input({
			style:'well',
			btn_choose:'Arraste e solte os arquivos ou clique para escolher',
			btn_change:null,
			no_icon:'ace-icon fa fa-cloud-upload',
			droppable:true,
			thumbnail:'small'//large | fit
			//,icon_remove:null//set null, to hide remove/reset button
			/**,before_change:function(files, dropped) {
				//Check an example below
				//or examples/file-upload.html
				return true;
			}*/
			/**,before_remove : function() {
				return true;
			}*/
			,
			preview_error : function(filename, error_code) {
				//name of the file that failed
				//error_code values
				//1 = 'FILE_LOAD_FAILED',
				//2 = 'IMAGE_LOAD_FAILED',
				//3 = 'THUMBNAIL_FAILED'
				//alert(error_code);
			}
	
		}).on('change', function(){
			//console.log($(this).data('ace_input_files'));
			//console.log($(this).data('ace_input_method'));
		});

		$('.spinner-input').ace_spinner({value:0,min:0,max:200,step:10, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
		.closest('.ace-spinner')
		.on('changed.fu.spinbox', function(){
			//alert($('#spinner1').val())
		});

		$('.date-picker').datepicker({
			autoclose: true,
			todayHighlight: true
		});

		// Chosen Select
		$('.chosen-select').chosen({
			allow_single_deselect:true,
			width: '100%',
			dateFormat: 'dd/mm/yyyy'
		});

		$('.input-mask-date').mask('99/99/9999');
		$('.input-mask-phone').mask('(99) 999-9999?9');

		$(document).on('click', 'th input:checkbox' , function(){
			var that = this;
			$(this).closest('table').find('tr > td:first-child input:checkbox')
				.each(function(){
					this.checked = that.checked;
					$(this).closest('tr').toggleClass('selected');
				});
		});
	});
</script>